.button {
  background: blue;
  font-family: "brandon-grotesque";
  font-size: 3.5em;
  color: white;
}

.button:hover {
  background: #2fcbff;
  color: white;
}

.title {
  font-family: "brandon-grotesque";
  font-size: 1.5em;
  color: #17657f;
  text-align: center;
}

*{
    font-family: "brandon-grotesque";
     font-size: 1.2em;
     background: #8ff2e7;
     position: relative;

}